aiohttp==3.8.4
aiosignal==1.3.1
anyascii==0.3.2
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
audioread==3.0.0
azure-cognitiveservices-speech==1.25.0
Babel==2.12.1
backcall==0.2.0
bangla==0.0.2
black==23.1.0
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.1
build==0.10.0
CacheControl==0.12.11
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
cleo==2.0.1
click==8.1.3
contourpy==1.0.7
coqpit==0.0.17
crashtest==0.4.1
cycler==0.11.0
Cython==0.29.28
dataclasses-json==0.5.7
dateparser==1.1.8
decorator==5.1.1
distlib==0.3.6
docopt==0.6.2
dulwich==0.21.3
elevenlabs==0.2.5
executing==1.2.0
fastapi==0.92.0
filelock==3.12.0
Flask==2.2.3
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2023.4.0
g2pkk==0.1.2
google-api-core==2.11.0
google-auth==2.16.3
google-cloud-speech==2.17.3
google-cloud-texttospeech==2.14.1
googleapis-common-protos==1.59.0
grpcio==1.54.0
grpcio-status==1.48.2
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gTTS==2.3.1
h11==0.14.0
html5lib==1.1
idna==3.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
inflect==5.6.0
installer==0.7.0
ipython==8.12.0
itsdangerous==2.1.2
jamo==0.4.1
jaraco.classes==3.2.3
jedi==0.18.2
jieba==0.42.1
Jinja2==3.1.2
joblib==1.2.0
jsonlines==1.2.0
jsonschema==4.17.3
keyring==23.13.1
kiwisolver==1.4.4
langchain==0.0.146
lazy_loader==0.2
librosa==0.10.0.post2
llama-cpp-python==0.1.36
llvmlite==0.39.1
lockfile==0.12.2
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mecab-python3==1.0.5
more-itertools==9.1.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
mypy-extensions==1.0.0
networkx==2.8.8
nltk==3.8.1
num2words==0.5.12
numba==0.56.4
numexpr==2.8.4
numpy==1.21.6
openai==0.27.2
openapi-schema-pydantic==1.2.4
packaging==23.0
pandas==2.0.1
parso==0.8.3
pathspec==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pkginfo==1.9.6
platformdirs==3.1.0
ply==3.11
poetry==1.4.2
poetry-core==1.5.2
poetry-plugin-export==1.3.1
pooch==1.6.0
prompt-toolkit==3.0.38
proto-plus==1.22.2
protobuf==3.19.6
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.7
pydub==0.25.1
pyflakes==3.0.1
Pygments==2.15.1
PyJWT==2.6.0
pyllamacpp==1.0.7
pynndescent==0.5.10
pyparsing==3.0.9
pypinyin==0.48.0
pyproject_hooks==1.0.0
pyrsistent==0.19.3
pysbd==0.3.4
python-crfsuite==0.9.9
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
rapidfuzz==2.15.1
redis==4.5.3
regex==2023.3.23
requests==2.28.2
requests-toolbelt==0.10.1
rev-ai==2.17.1
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
shellingham==1.5.0.post1
six==1.16.0
sniffio==1.3.0
sounddevice==0.4.6
soundfile==0.12.1
soxr==0.3.5
SQLAlchemy==1.4.47
stack-data==0.6.2
starlette==0.25.0
sympy==1.11.1
tenacity==8.2.2
tensorboardX==2.6
threadpoolctl==3.1.0
tomli==2.0.1
tomlkit==0.11.7
torch==2.0.0
torchaudio==2.0.1
tqdm==4.65.0
trainer==0.0.20
traitlets==5.9.0
trove-classifiers==2023.4.22
TTS==0.13.3
twilio==7.17.0
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
umap-learn==0.5.1
unidic-lite==1.0.8
urllib3==1.26.14
uvicorn==0.20.0
virtualenv==20.21.1
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==0.59.0
websockets==10.4
Werkzeug==2.2.3
xattr==0.10.1
yarl==1.8.2
zipp==3.15.0
