TELEPHONY_SERVER_BASE_URL=0c54-97-91-111-98.ngrok-free.app
OUTBOUND_CALLER_NUMBER=+18337515016
DEEPGRAM_API_KEY=bc1ab93f3f71476ce3fe72a19e91dc4bb846dcef
OPENAI_API_KEY=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
AZURE_SPEECH_KEY=7d2cc2e546a24785a164736a81780b11
AZURE_SPEECH_REGION=eastus
TWILIO_ACCOUNT_SID=SK015a4e95eb0e0a61e6d309371119142b
TWILIO_AUTH_TOKEN=yPFRnsIE5zSHDuNLWU1zZ6ZM4JvBTG6p